*{
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  display:flex;
  flex-direction:column;
  gap:10px;
  justify-content: space-between;
}

header{
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  flex-direction: column;
  border: 20px solid rgb(48, 31, 50);
  background-color: rgb(48, 31, 50);

}

.barra {
  display:flex;
  gap:10px;
  color: white;
  justify-content: space-evenly;
  flex-direction: row;
  border: 10px solid rgb(196, 68, 196);
  background-color: rgb(196, 68, 196);

}
.logo{
  width: 20%;
  padding: 10px;
  background-color: rgb(41, 76, 147);
  border-radius: 10px;
}
.nav {
  width: 70%;
  padding: 10px;
  background-color: rgb(41, 76, 147);
  border-radius: 10px;
}
.social{
  width: 20%;
  background-color: rgb(41, 76, 147);
  border-radius: 10px;
  padding: 10px;
  margin-right: 5px;
}

.banner{
  background-color: orange;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  border: 15px solid rgba(228, 244, 7, 0.66);
  padding:20px;
  color: black;
}

.contenido{
  display: flex;
  flex-direction: row;
  background-color: rgb(48, 31, 50);
  padding:10px;
}
.articulos-container{
  display:flex;
  flex-direction: column;
  background-color: purple;
  margin:10px;
  flex:3;
  padding:12px;
}

.columnas{
  display: flex;
  flex-direction: row;
  flex:1;
}
.columna1{
  display:flex;
  flex-direction: column;
  flex:1;
}
.columna2{
  display:flex;
  flex-direction: column;
  flex:1;
}
.articulo {
  margin:10px;
  background-color: rgb(99, 99, 222);
  flex:1;
  padding:20px;
}
.navegacion {
  margin:10px;
  background-color:rgb(214, 125, 184);
  padding:20px;
}
.publicidad{
  display: flex;
  flex-direction: column;
  background-color: rgb(199, 147, 2);
  flex:1;
  margin:7px;
  padding:20px;
}
.publi1{
  background-color: yellow;
  padding:22px;
  margin-bottom: 15px;
  margin-top: 5px;
  
}
.publi2{
  background-color: yellow;
  padding:22px;

}
.footer{
  background-color: rgb(246, 216, 47);
  border:20px solid rgb(48, 31, 50);
  padding:10px;
}

@media screen and (max-device-width:800px), screen and (max-width:800px) { 
  body {
   width:100%;
  }
  header {
   width:100%;
  }
  .barra{
   flex-direction:column;
  }
  .logo{
   width:100%;
  }
  .nav{
   width:100%;
  }
  .social{
   width:100%;
  }
 
  .contenido {
   width:100%;
   flex-direction: column;
  }
  
  .columnas{
    flex-direction: column;
  }
 
  .publi1{
   width:100%;
  
  }
  .publi2{
   width:100%;
  
  }
 
 }















